body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: linear-gradient(to right, green , pink , blue);
    ;
    overflow: hidden;
}
.main{
    border: 6px solid white;
    padding-bottom: 30px;
    border-radius: 13px;
    background: radial-gradient(white,black);
}
h1{
    letter-spacing: 4px;
    font-size: 70px;
    
    text-decoration: underline;
    text-align: center;
    color: rgb(58, 107, 10);

}

.clock{
    display: flex;
}

.clock div{
    margin: 5px;
}

.clock span{
    width: 100px;
    height: 80px;
    background-color: rgb(199, 81, 170);
    border-radius: 20px;
    opacity: 0.7;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(red, green, blue, 0.3);
}

.clock .text {
    color: blueviolet;
    font-weight: bolder;
    height: 30px;
    font-size: 40px;
    letter-spacing: 2px;
    background: rgb(13, 255, 0, 0.3);
    border-radius: 20px;

}

/* .clock #ap{
    color: brown;
    bottom: 290px;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 30px;
    background-color: rgb(160, 209, 215);
} */

